1  <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Day3</title>
    <style>
        .black{
            color:black;
        }
        .pink{
            color:rgb(199, 97, 131);
        }
    </style>
</head>
<body>
    <div id="Day4">
        <input type="text" v-model="surname">
        <table>
            <tr>
                <th>Name</th>
                <th>Grope</th>
                <th>Mark</th>
                <th>Practical Work</th>
                <th>Delete</th>
            </tr>
            <tr v-for="(stud, index) in students">
                <td v-bind:class="stud.name.includes(surname) ? 'pink' : 'black'">{{stud.name}}</td>
                <td>{{stud.group}}</td>
                <td>{{stud.mark}}</td>
                <td><input type="checkbox" v-model="stud.isDonePr"></td>
                <td><button v-on:click="deleteStud(index)">Delete</button></td>

            </tr>
        </table>
    </div>
    <script src="main.js"></script>
</body>
</html>